
<div>
    
    <i class="bi bi-arrow-left my-blue" (click)="back()">  {{ 'component-button.back' | translate}}</i>
  <div class="card col-md-9 background-white mt-2" >
    <p style="color: #14348c; font-family: 'Lucida Sans'; font-weight: bold; margin-top: 20px; margin-left: 15px;">{{ 'page-employe.message2' | translate}}</p>
    <div class="row">
      <div class="alert alert-danger" *ngIf="errorDto.errors">{{errorDto.errors}}  {{errorDto.message}}</div>
        <div class="col col-md-3">
            
                <button (click)="fileInput.click()"  class="btn btn-outline-secondary background-white ml-10">
                   
                        <img [src]="employeDto.photo ? employeDto.photo: 'assets/user.png'" width="110px" height="110px" class="rounded-circle" alt="">
                        <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)">
    
                 
                    <i class="fas fa-pencil-alt my-blue"></i>
                </button>
           
             
        </div>


        <div class="col col-md-5">
            <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.employeeId' | translate}}</label>
                <div class="col-sm-6">
                  <input type="text"  name="codeEmploye" [(ngModel)]="employeDto.codeEmploye" class="form-control" >
                </div>
             </div>
             <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.firstname' | translate}}</label>
                <div class="col-sm-6">
                  <input type="text"  name="prenom" [(ngModel)]="employeDto.prenom" class="form-control" >
                </div>
             </div>
             <div class="row mb-5 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.dob' | translate}}</label>
                <div class="col-sm-6">
                  <input type="date"  name="dateEmbauche" [(ngModel)]="employeDto.dateEmbauche" class="form-control" >
                </div>
             </div>
          
        </div>
             
        <div class="col col-md-4">
            <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.role' | translate}}</label>
                <div class="col-sm-6">
                    <input type="text"  name="poste" [(ngModel)]="employeDto.poste" class="form-control" >
             
                </div>
             </div>

             <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.lastname' | translate}}</label>
                <div class="col-sm-6">
                  <input type="text"  name="nom" [(ngModel)]="employeDto.nom" class="form-control" >
                </div>
             </div>

             <div class="row mb-5 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.email' | translate}}</label>
                <div class="col-sm-6">
                  <input type="email"  name="email" [(ngModel)]="employeDto.email" class="form-control" >
                </div>
             </div>

         
        </div>
      </div>
    
  
  </div>


  <div class="col-md-9 text-end">
    <button type="button" class="btn btn-success vert text-end mt-5"  (click)="saveEmploye()">
      {{ 'component-button.add' | translate}}</button>
  </div>

</div>



  
