<div class="col">
    <div class="row m-3">
        <div class="col-md-7 p-0">
            <h1>{{ 'page-employe.message' | translate}}</h1>
        </div>
        <div class="col-md-5 text-end">
          
            <div class="row">
                <app-boutton-action [isImporterVisible]="false"
                 (clickEvent)="nouvelEmploye()"
                 (clickEvent1)="transaction()"
                 (clickExportEvent)="nouvelExport()">
                    
                </app-boutton-action>
            </div>
          
          
        </div>
    </div>

    <div class="col m-3">
      

      <div class="input-group mb-3" style="width: 170px;">
        <span class="input-group-text"><i class="fas fa-search my-blue"></i></span>
        <input type="text" class="form-control" name="code" (input)="search()" [(ngModel)]="code" placeholder="find by code">
      </div>
      <div class="text-end"> 
         {{ 'component-button.elementPerPage' | translate}}
        <button type="button" name="elementPerPage" class="btn btn-outline-secondary background-white mb-2" data-bs-toggle="dropdown" aria-expanded="false">
          {{ currentElementPerPage }}
         <i class="bi bi-caret-down-fill my-blue"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="ElementPerPage('5')">5</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="ElementPerPage('10')">10</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="ElementPerPage('15')">15</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" (click)="ElementPerPage('20')">20</a></li>
          </ul>
      </div>
        <table class="table background-white">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{ 'page-employe.employeeId' | translate}}</th>
                <th scope="col">{{ 'page-employe.firstname' | translate}}</th>
                <th scope="col">{{ 'page-employe.lastname' | translate}}</th>
                <th scope="col">{{ 'page-employe.dob' | translate}}</th>
                <th scope="col">{{ 'page-employe.role' | translate}}</th>
                <th scope="col">{{ 'page-employe.lastorder' | translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr  *ngFor="let emp of listEmployes | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }; let i = index">

                <th scope="row"><img [src]="emp.photo ? emp.photo: 'assets/user.png'" width="90px" height="85px" class="rounded-circle" alt=""></th>
                <td>{{emp.codeEmploye}}</td>
                <td>{{emp.prenom}}</td>
                <td>{{emp.nom}}</td>
                <td>{{emp.dateEmbauche}}</td>
                <td>{{emp.poste}}</td>
                <td>09/09/2022</td>
                <td>
                  <i class="fas fa-pencil-alt my-blue" (click)="modifierEmploye(emp.id)"></i> &nbsp; 
                  <i class="fas fa-trash-alt my-blue" data-bs-toggle="modal" data-bs-target="#modalDeleteEmp" (click)="selectEmpPourSupprimer(emp.id)"></i>
              </td>
              </tr>

             
          
           
              
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>





    <div class="row m-3">
        <!-- pagination 
 <app-pagination></app-pagination> -->
    </div>

</div>


 <!-- Modal -->
 <div class="modal fade" id="modalDeleteEmp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Etes vous sur de vouloir supprimer
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="annulerSuppressionEmp()"> <i class="fas fa-ba n" ></i>&nbsp;Annuler</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimerEmp()"> <i class="fas fa-trash-alt" ></i>&nbsp; Supprimer</button>
      </div>
    </div>
  </div>
</div>

</div>

