
<div>
    
    <i class="bi bi-arrow-left my-blue" (click)="back()">  {{ 'component-button.back' | translate}} </i>
  <div class="card col-md-9 background-white mt-2" >
    <p style="color: #14348c; font-family: 'Lucida Sans'; font-weight: bold; margin-top: 20px; margin-left: 15px;">{{ 'page-employe.message3' | translate}}</p>
    <div class="row">
      <div class="alert alert-danger" *ngIf="errorDto.errors">{{errorDto.errors}}  {{errorDto.message}}</div>
        <div class="col col-md-3">
            
                <button type="button" class="btn btn-outline-secondary background-white ml-10">
                    <a href="" [routerLink]="['/profil']">
                        <img [src]="utilisateurDto.photo ? utilisateurDto.photo: 'assets/user.png'" width="110px" height="110px" class="rounded-circle" alt="">
    
                    </a>
                    
                </button>
           
             
        </div>


        <div class="col col-md-5">
            <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.employeeId' | translate}}</label>
                <div class="col-sm-6">
                  <input type="text" (input)="searchEmploye()" name="codeEmploye" [(ngModel)]="codeEmploye" class="form-control" >
                  <div *ngIf="codeEmploye.length && !employeNotYetSelected" class="autocomplete shadow p-3 mb-5 rounded">
                    <p  *ngFor="let employe of listEmployes " (click)="selectemploye(employe)"> {{employe.nom}} &nbsp; {{employe.prenom}}</p>
                </div>
                </div>
             </div>
             <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.firstname' | translate}}</label>
                <div class="col-sm-6">
                  <input type="text"   name="prenom" [(ngModel)]="utilisateurDto.prenom" class="form-control" >
                </div>
             </div>
             <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.dob' | translate}}</label>
                <div class="col-sm-6">
                  <input type="text"  name="dateEmbauche" [(ngModel)]="utilisateurDto.dateEmbauche" class="form-control" >
                </div>
             </div>
             <div class="row mb-5 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.password' | translate}}</label>
                <div class="col-sm-6">
                  <input type="password" name="motDePasse" [(ngModel)]="utilisateurDto.motDePasse" class="form-control" >
                </div>
             </div>
          
        </div>
             
        <div class="col col-md-4">
            <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.role' | translate}}</label>
                <div class="col-sm-6">
                    
                    <select class="form-select" name="role" [(ngModel)]="utilisateurDto.role" >
                        <option value="Admin">Admin</option>
                        <option value="Reader">Reader</option>
                    </select>
             
                </div>
             </div>

             <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.lastname' | translate}}</label>
                <div class="col-sm-6">
                  <input type="text"  name="nom" [(ngModel)]="utilisateurDto.nom" class="form-control" >
                </div>
             </div>

             <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.email' | translate}}</label>
                <div class="col-sm-6">
                  <input type="email"  name="email" [(ngModel)]="utilisateurDto.email" class="form-control" >
                </div>
             </div>
             <div class="row mb-5 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.repeat' | translate}}</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" >
                </div>
             </div>

         
        </div>
      </div>
    
  
  </div>


  <div class="col-md-9 text-end">
    <button type="button" class="btn btn-success vert text-end mt-5" (click)="saveUtilisateur()">
      {{ 'component-button.add' | translate}} </button>
  </div>

</div>



  
