/* You can add global styles to this file, and also import other style files */
body {
  background-image:  url("assets/loginBG.jpeg");  
 
}

.text-end {
  text-align: end;
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eff2f5 !important;
}

.background-grey {
  background-color: #eff2f5 !important;
}
.background-white {
  background-color: white !important;
}

.border-none {
  border: none !important;
}

.min-height-80 {
  min-height: 80px;
  max-height: 800px;
}

.mr-5 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 2px;
}

.ml-5 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 2px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.text-end {
  text-align: end;
}

.custom-border-right{
  border: 1px solid #9ca1a6;
}

.custom-border {
  border: 0px solid  #9ca1a6;
  border-radius: 5px;
}

.custom-border1 {
  border: 1px solid  #9ca1a6;
  border-radius: 5px;
  padding: auto;
  margin: auto;
}

.blue-color {
  color: #037bfe;
}

.border-right {
  border-right: 1px solid black;
}
.my-blue {
  color: #14348c
}

.vert{
  background-color: #a4d46c;
}

