.my-container {

    margin-top: 150px ;
    max-width: 790px;
    border-radius: 5px;
  
   
   
 
}

.vert{
    background-color: #a4d46c;
}

.mt100 {
    margin-top: 100px;
}

.mb100 {
    margin-bottom: 100px;
}
