<i class="bi bi-arrow-left my-blue" (click)="back()">  {{ 'component-button.back' | translate}}</i>
<div class="card col-md-9 mt-2 background-white">
   <!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="ex1-tab-1"
        data-bs-toggle="tab"
        data-bs-target="#ex1-tabs-1"
        role="tab"
        aria-controls="ex1-tabs-1"
        aria-selected="true"
        ><p style="color: #14348c; font-family: 'Lucida Sans'; font-weight: bold;">  {{ 'page-employe.message4' | translate}} </p></a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="ex1-tab-2"
        data-bs-toggle="tab"
        data-bs-target="#ex1-tabs-2"
       
      
        role="tab"
        aria-controls="ex1-tabs-2"
        aria-selected="false"
        ><p style="color: #14348c; font-family: 'Lucida Sans'; font-weight: bold;">  {{ 'page-employe.message5' | translate}} </p> </a
      >
    </li>

  </ul>
  <!-- Tabs navs -->
  
  <!-- Tabs content -->
  <div class="tab-content" id="ex1-content">
    <div
      class="tab-pane fade show active"
      id="ex1-tabs-1"
      role="tabpanel"
      aria-labelledby="ex1-tab-1"
    >
      

    <div class="row">

        <div class="col col-md-3">
            
                <button type="button" class="btn btn-outline-secondary background-white ml-10">
                    <a href="" [routerLink]="['/profil']">
                      <img [src]="employeDto.photo? employeDto.photo: 'assets/user.png'" width="110px" height="110px" class="rounded-circle" alt="">
    
                    </a>
                   
                </button>
           
             
        </div>


        <div class="col col-md-5">
            <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">Infos</label>
                <div class="col-sm-6  mb-2 ">
                  <input type="text"  value="{{employeDto.nom}} {{employeDto.prenom}}"  disabled class="form-control" >
                </div>
             </div>
             <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label"> {{ 'page-inventory.itemId' | translate}}</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" name="codeItem" (input)="searchItem()" [(ngModel)]="codeItem" placeholder="Code item">
                  <div *ngIf="codeItem.length && !itemNotYetSelected" class="autocomplete shadow p-3 mb-5 rounded">
                      <p  *ngFor="let item of listItem" (click)="selectitem(item)"> {{item.codeItem}} &nbsp; {{item.designation}}</p>
                  </div>
                </div>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="quantite" name="quantite" placeholder=" {{ 'page-employe.quantity' | translate}}" class="form-control" >
                  </div>
             </div>


            <div >
             <table class="table mt-5">
                <thead>
                  <tr style="color: #14348c; font-family: 'Lucida Sans'; font-weight: bold;">
                 
                    <th scope="col"> {{ 'page-employe.itemname' | translate}}</th>
                    <th scope="col"> {{ 'page-employe.quantity' | translate}}</th>
                    <th scope="col"> {{ 'page-employe.price' | translate}}</th>
                  </tr>
                </thead>
                <tbody  class="mytab">
                  <tr *ngFor="let ligne of lignesCommande" >
           
                    <td>{{ligne.item?.designation}}</td>
                    <td>{{ligne.quantite}}</td>
                    <td>{{ligne.prixUnitaire && ligne.quantite ? ligne.prixUnitaire * ligne.quantite : ''}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">Total</td>
                    <td></td>
                    <td> {{totalCommande}} $CAN</td>
                  </tr>
                 
                
                </tbody>
              </table>
            </div>
    
          
        </div>
             
        <div class="col col-md-4">
            <div class="row mb-2 ">
                <label  class="col-sm-3 col-form-label">{{ 'page-employe.employeeId' | translate}}</label>
                <div class="col-sm-6  mb-2 ">
                  <input type="text" (input)="searchEmploye()" name="codeEmploye" [(ngModel)]="codeEmploye" class="form-control" >
                  <div *ngIf="codeEmploye.length && !employeNotYetSelected" class="autocomplete shadow p-3 mb-5 rounded">
                    <p  *ngFor="let employe of listEmployes " (click)="selectemploye(employe)"> {{employe.nom}} &nbsp; {{employe.prenom}}</p>
             
                </div>
             </div>

             <div class="row mb-2 ">
                <label  class="col-sm-3  mb-2  col-form-label">{{ 'page-employe.price' | translate}}</label>
                <div class="col-sm-3">
                  <input type="text" name="prixunitaire" [(ngModel)]="searchedItem.prixUnitaireHt" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-success vert" (click) = "ajouterLigneCommande()"><i class="fas fa-plus"></i> </button>
                  </div>
             </div>

           

         
        </div>

     
      </div>

    </div>
    
  </div>
    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
        <div style="max-height: 500px; overflow-y: scroll;">
          <div class="input-group mb-3" style="width: 210px;">
            <span class="input-group-text"><i class="fas fa-search my-blue"></i></span>
            <input type="text" class="form-control" name="code" (input)="search()" [(ngModel)]="code" placeholder="find by Item name">
          </div>
          <div class="text-end">
             {{ 'component-button.elementPerPage' | translate}}
            <button type="button" name="elementPerPage" class="btn btn-outline-secondary background-white mb-2" data-bs-toggle="dropdown" aria-expanded="false">
              {{ currentElementPerPage }}
             <i class="bi bi-caret-down-fill my-blue"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="ElementPerPage('5')">5</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="ElementPerPage('10')">10</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="ElementPerPage('15')">15</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="ElementPerPage('20')">20</a></li>
              </ul>
          </div>
        <table class="table background-white longeurTab" >
           
            <thead>
              <tr style="color: #14348c; font-family: 'Lucida Sans'; font-weight: bold;">
         
                <th scope="col">{{ 'page-employe.category' | translate}}</th>
                <th scope="col">{{ 'page-employe.itemname' | translate}}</th>
                <th scope="col">{{ 'page-employe.quantity' | translate}}</th>
                <th scope="col">{{ 'page-employe.unit' | translate}}</th>
                <th scope="col">{{ 'page-employe.receivedDate' | translate}}</th>
                <th scope="col">{{ 'page-employe.assignedTo' | translate}}</th>
              </tr>
            </thead>
            <tbody class="table-group-divider" >
                
              <tr *ngFor="let ligne of listLigneTransaction | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }; let i = index">
                
                <td>{{ligne.item?.category?.designation}}</td>
                <td>{{ligne.item?.designation}}</td>
                <td>{{ligne.quantite}}</td>
                <td>Piece</td>
                <td>{{ligne.commandeEmploye?.dateCommande | date: 'dd/MM/yyyy'}}</td>
                <td>{{ligne.commandeEmploye?.employe?.nom}} {{ligne.commandeEmploye?.employe?.prenom}}</td>
              </tr>

             


        

     
          
           
              
            </tbody>
        
          </table>
          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
        </div>

    </div>

  </div>
  <!-- Tabs content -->

  
</div>

<div class="col-md-9   text-end">
    <button type="button" class="btn btn-secondary   text-end mt-5" (click)="back()" >
      {{ 'component-button.return' | translate}}</button>
    <button type="button" class="btn btn-success vert text-end mt-5 ml-5"  (click)="saveTransaction()">
      {{ 'component-button.request' | translate}}</button>
  </div>




<script>
    $('a').on('click', function (e) {
  e.preventDefault()
  javascript:void(0);
})
</script>