<div class="col">
    <div class="row m-3">
        <div class="col-md-7 p-0">
            <h1>{{ 'page-employe.message6' | translate}}</h1>
        </div>
        <div class="col-md-5 text-end">
          
            <div class="row">
                <app-boutton-action 
                [isTransactionVisible]="false"
                 (clickEvent)="nouvelUser()"
                >
                    
                </app-boutton-action>
            </div>
          
          
        </div>
    </div>

    <div class="col m-3">
      

        <table class="table background-white">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{ 'page-employe.employeeId' | translate}}</th>
                <th scope="col">{{ 'page-employe.firstname' | translate}}</th>
                <th scope="col">{{ 'page-employe.lastname' | translate}}</th>
                <th scope="col">{{ 'page-employe.dob' | translate}}</th>
                <th scope="col">{{ 'page-employe.role' | translate}}</th>
                <th scope="col">{{ 'page-employe.email' | translate}}</th>
                <th scope="col">{{ 'page-employe.password' | translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row"><img src="favicon.ico" class="rounded-circle" alt=""></th>
                <td>#0014225</td>
                <td>Otto</td>
                <td>Ali</td>
                <td>07/08/20200</td>
                <td>Admin</td>
                <td>ottp@gmail.com</td>
                <td>***********</td>
                <td>
                    <i class="fas fa-pencil-alt my-blue"></i> &nbsp; <i class="fas fa-trash-alt my-blue"></i>
                </td>
              </tr>

              <tr>
                <th scope="row"><img src="favicon.ico" class="rounded-circle" alt=""></th>
                <td>#0014247</td>
                <td>Amed</td>
                <td>Annour</td>
                <td>07/08/20200</td>
                <td>Reader</td>
                <td>Amed@gmail.com</td>
                <td>***********</td>
                <td>
                    <i class="fas fa-pencil-alt my-blue"></i> &nbsp; <i class="fas fa-trash-alt my-blue"></i>
                </td>
              </tr>

              <tr>
                <th scope="row"><img src="favicon.ico" class="rounded-circle" alt=""></th>
                <td>#0016425</td>
                <td>Mill</td>
                <td>Abbo</td>
                <td>07/08/20200</td>
                <td>Admin</td>
                <td>Abbo@gmail.com</td>
                <td>***********</td>
                <td>
                    <i class="fas fa-pencil-alt my-blue"></i> &nbsp; <i class="fas fa-trash-alt my-blue"></i>
                </td>
              </tr>

              <tr>
                <th scope="row"><img src="favicon.ico" class="rounded-circle" alt=""></th>
                <td>#0014225</td>
                <td>Otto</td>
                <td>Ali</td>
                <td>07/08/20200</td>
                <td>Reader</td>
                <td>Ali@gmail.com</td>
                <td>***********</td>
                <td>
                    <i class="fas fa-pencil-alt my-blue"></i> &nbsp; <i class="fas fa-trash-alt my-blue"></i>
                </td>
              </tr>

              <tr>
                <th scope="row"><img src="favicon.ico" class="rounded-circle" alt=""></th>
                <td>#0014247</td>
                <td>Amed</td>
                <td>Annour</td>
                <td>07/08/20200</td>
                <td>Admin</td>
                <td>Annour@gmail.com</td>
                <td>***********</td>
                <td>
                    <i class="fas fa-pencil-alt my-blue"></i> &nbsp; <i class="fas fa-trash-alt my-blue"></i>
                </td>
              </tr>

              <tr>
                <th scope="row"><img src="favicon.ico" class="rounded-circle" alt=""></th>
                <td>#0016425</td>
                <td>Mill</td>
                <td>Abbo</td>
                <td>07/08/20200</td>
                <td>Admin</td>
                <td>Mill@gmail.com</td>
                <td>***********</td>
                <td>
                    <i class="fas fa-pencil-alt my-blue"></i> &nbsp; <i class="fas fa-trash-alt my-blue"></i>
                </td>
              </tr>
          
           
              
            </tbody>
          </table>





    <div class="row m-3">
        <!-- pagination 
 <app-pagination></app-pagination> -->
    </div>

</div>
